:root {
    --green: #00ff00;
    --white: #FFFFFF;
    --black: #000000;
    --red: #FF3370;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

li {
    list-style: circle;
  }
  
.list {
    list-style: square;
}
  

.txt-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--red);
    --btnFontColor: var(--black);
}

.docx-theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--red);
    --btnFontColor: var(--black);
}


.btn_mode_switch {
    position: absolute;
    top: 20px;
    left: 300px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--red);
}

.btn_save {
    position: absolute;
    top: 20px;
    left: 400px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--green);
}



